services:
  server:
    build:
      context: .
    ports:
      - 8080:8080
    environment:
      - OPENAI_API_KEY=${OPENAI_API_KEY}
      - HF_TOKEN=${HF_TOKEN}
      - APP_CORS_ALLOWED_ORIGINS=http://localhost:5173